*, body{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap');

/* SECTION1 */
#acceuil {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
} 
.book{
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}

/* :root{
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(199, 100%, 33%);

} */